.book {
    text-align: center;
}

.book_img-wrapper {
    position: relative;
    height: 220px; width: 150px;
    margin: auto;
    
}

.book_img { height: 100%; width: 100%;}

.book_header {
    width: 50%;
    margin: 15px auto;
    color: rgb(0, 0, 0);
}